<div style="background-color:blue;color:white;padding-left:15px;padding-right:15px;
padding-top:15px;">
    <p>
        Examples of some of the websites that I have developed are listed below, along with a brief description of each website.
        The majority of the websites below can be visited on the internet simply by clicking on their image, although
        most of the websites do require a User Name/Password in order to gain access to them.
        Therefore I have also provided screenshots of every website.
    </p><br/>

    <div class="row" style="margin-bottom:15px;">
        <div class="col-2" style="margin-bottom:10px;margin-left:0px;min-width:170px;">
            <a href="https://felixmatklubb.se">
                <img src="../../assets/images/portfolio/felix/felixsmall.png" alt="Felix Matklubb" />
            </a>
        </div>
        <div class="col-10" style="margin-left:15px;margin-right:15px;">
            <div class="row">
                <p>
                    <label style="color:#c0c000;font-weight:bold;height:10px;">Felix Matklubb : </label> Felix Matklubb 
                    is a loyalty program website for Felix customers in Sweden. Customers can enter codes found on product 
                    packaging to accumulate points in order to redeem rewards or coupons. Points can also be gained
                    in other ways such as inviting friends. The site also provides information on various products and is mobile 
                    optimised and features Facebook integration.
                    The main technologies used on this project were ASP.NET MVC, C#, SQL Server, HTML, CSS, Bootstrap,
                    LINQ 2 SQL and Javascript.<br />
                    Screenshots
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{felixLink1}} target="_blank">1</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{felixLink2}} target="_blank">2</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{felixLink3}} target="_blank">3</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{felixLink4}} target="_blank">4</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{felixLink5}} target="_blank">5</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{felixLink6}} target="_blank">6</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{felixLink7}} target="_blank">7</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{felixLink8}} target="_blank">8</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{felixLink9}} target="_blank">9</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{felixLink10}} target="_blank">10</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{felixLink11}} target="_blank">11</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{felixLink12}} target="_blank">12</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{felixLink13}} target="_blank">13</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{felixLink14}} target="_blank">14</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{felixLink15}} target="_blank">15</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{felixLink16}} target="_blank">16</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-2" style="margin-bottom:10px;margin-left:0px;min-width:170px;">
            <a href="https://arla.carbondesktop.com/">
                <img src="../../assets/images/portfolio/camco/camcosmall.jpg" alt="Carbon Desktop" />
            </a>
        </div>
        <div class="col-10" style="margin-left:15px;margin-right:15px;">
            <div class="row">
                <p>
                    <label style="color:#c0c000;font-weight:bold;height:10px;">Carbon Desktop : </label> Carbon Desktop is used across a wide range of companies
                    worldwide including Arla Foods, Dairy Crest and Northern Foods.
                    The site takes in data feeds from a variety of sources both manual and automated,
                    and is used in the monitoring and targeting of a companies’ utility usage via various custom reports and
                    graphs, enabling them to reduce energy usage and thereby cut utility costs across the company.
                    It also allows for the management of all associated documentation and reports enable the company to
                    monitor data against local legal requirements, for example in the area of carbon reduction.
                    The main technologies used on this project were ASP.NET, C#, LINQ 2 SQL, JQuery, Web Services, Javascript,
                    and SQL Server.<br/>
                    Screenshots
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{camcoLink1}} target="_blank">1</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{camcoLink2}} target="_blank">2</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{camcoLink3}} target="_blank">3</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{camcoLink4}} target="_blank">4</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{camcoLink5}} target="_blank">5</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{camcoLink6}} target="_blank">6</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{camcoLink7}} target="_blank">7</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{camcoLink8}} target="_blank">8</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{camcoLink9}} target="_blank">9</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{camcoLink10}} target="_blank">10</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{camcoLink11}} target="_blank">11</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{camcoLink12}} target="_blank">12</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{camcoLink13}} target="_blank">13</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{camcoLink14}} target="_blank">14</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{camcoLink15}} target="_blank">15</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-2" style="margin-bottom:10px;margin-left:0px;min-width:170px;">
            <a href="https://angularlovelyjubbly.azurewebsites.net">
                <img src="../../assets/images/portfolio/gameplan/gameplansmall.png" alt="Gameplan NFLC League" />
            </a>
        </div>
        <div class="col-10" style="margin-left:15px;">
            <div class="row">
                <p>
                    <label style="color:#c0c000;font-weight:bold;height:10px;">Gameplan NFLC League : </label> the Gameplan NFLC
                    League website is a website for the NFLC league of the popular Play-By-Mail
                    game Gameplan. It is updated fortnightly and features the latest results, league standings, statistics,
                    team pages, a forum, league history and links to the rules of the game.
                    The main technologies used on this project were ASP.NET Core MVC, C#, Angular, Entity Framework, SQL Azure,
                    Typescript, Web API, Bootstrap, SASS and Angular Material.<br />
                    Screenshots
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{gameplanLink1}} target="_blank">1</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{gameplanLink2}} target="_blank">2</a>
                    <!--&nbsp;<a style="color:white;text-decoration:underline;" href={{gameplanLink3}} target="_blank">3</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{gameplanLink4}} target="_blank">4</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{gameplanLink5}} target="_blank">5</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{gameplanLink6}} target="_blank">6</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{gameplanLink7}} target="_blank">7</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{gameplanLink8}} target="_blank">8</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{gameplanLink9}} target="_blank">9</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{gameplanLink10}} target="_blank">10</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{gameplanLink11}} target="_blank">11</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{gameplanLink12}} target="_blank">12</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{gameplanLink13}} target="_blank">13</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{gameplanLink14}} target="_blank">14</a>-->
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-2" style="margin-bottom:10px;margin-left:0px;min-width:170px;">
            <img src="../../assets/images/portfolio/ihmeveikko/ihmeveikkosmall.png" alt="Ihmeveikko" />
        </div>
        <div class="col-10" style="margin-left:15px;">
            <div class="row">
                <p>
                    <label style="color:#c0c000;font-weight:bold;height:10px;">Ihmeveikko : </label> Ihmeveikko
                    is a website that brings together various services related to the sale of property, such as
                    selling the property, moving, loans and cleaning. The site is used by both property sellers and
                    people trying to sell their services such as estate agents, cleaning companies, loan companies
                    and moving firms. Property sellers can list their property on the site and view information about
                    providers of various services and receive quotes for these services. The site also has a community aspect in
                    that users can rate service providers and provide feedback, so other users can make choices based upon
                    the feedback service providers have received.
                    The main technologies used on this project were ASP.NET Core MVC, C#, Web API, SQL Server
                    and Entity Framework.<br />
                    Screenshots
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{ihmeveikkoLink1}} target="_blank">1</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{ihmeveikkoLink2}} target="_blank">2</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{ihmeveikkoLink3}} target="_blank">3</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{ihmeveikkoLink4}} target="_blank">4</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{ihmeveikkoLink5}} target="_blank">5</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{ihmeveikkoLink6}} target="_blank">6</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{ihmeveikkoLink7}} target="_blank">7</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{ihmeveikkoLink8}} target="_blank">8</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{ihmeveikkoLink9}} target="_blank">9</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{ihmeveikkoLink10}} target="_blank">10</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{ihmeveikkoLink11}} target="_blank">11</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{ihmeveikkoLink12}} target="_blank">12</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{ihmeveikkoLink13}} target="_blank">13</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{ihmeveikkoLink14}} target="_blank">14</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-2" style="margin-bottom:10px;margin-left:0px;min-width:170px;">
            <a href="https://www.serla.fi/fi-fi/serla-club">
                <img src="../../assets/images/portfolio/serla/serlasmall.jpg" alt="Klubb Serla" />
            </a>
        </div>
        <div class="col-10" style="margin-left:15px;">
            <div class="row">
                <p>
                    <label style="color:#c0c000;font-weight:bold;height:10px;">Klubb Serla : </label> Klubb Serla
                    is a loyalty program website for Serla customers across the Nordic countries. Customers can enter codes found
                    on product packaging to accumulate points in order to redeem various rewards. Points can also be gained
                    in other ways such as inviting friends. The site also provides information on Serla products and is mobile
                    optimised, features Facebook integration and is localised to support campaigns across various countries and
                    languages.
                    The main technologies used on this project were ASP.NET MVC, C#, SQL Server, HTML, CSS, Bootstrap,
                    LINQ 2 SQL and Javascript.<br />
                    Screenshots
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{serlaLink1}} target="_blank">1</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{serlaLink2}} target="_blank">2</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{serlaLink3}} target="_blank">3</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{serlaLink4}} target="_blank">4</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{serlaLink5}} target="_blank">5</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{serlaLink6}} target="_blank">6</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{serlaLink7}} target="_blank">7</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{serlaLink8}} target="_blank">8</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{serlaLink9}} target="_blank">9</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{serlaLink10}} target="_blank">10</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{serlaLink11}} target="_blank">11</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{serlaLink12}} target="_blank">12</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-2" style="margin-bottom:10px;margin-left:0px;min-width:170px;">
            <img src="../../assets/images/portfolio/blueorchid/bosmall.jpg" alt="Blue Orchid Reporting Suite" />
        </div>
        <div class="col-10" style="margin-left:15px;">
            <div class="row">
                <p>
                    <label style="color:#c0c000;font-weight:bold;height:10px;">Blue Orchid Reporting Suite : </label> a Microsoft CRM website available over
                    the network at Blue Orchid which provides access to SQL Server Reporting Services reports and Dundas charts.<br />
                    Screenshots
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{blueOrchidLink1}} target="_blank">1</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{blueOrchidLink2}} target="_blank">2</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{blueOrchidLink3}} target="_blank">3</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{blueOrchidLink4}} target="_blank">4</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{blueOrchidLink5}} target="_blank">5</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{blueOrchidLink6}} target="_blank">6</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{blueOrchidLink7}} target="_blank">7</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{blueOrchidLink8}} target="_blank">8</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{blueOrchidLink9}} target="_blank">9</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-2" style="margin-bottom:10px;margin-left:0px;min-width:170px;">
            <img src="../../assets/images/portfolio/dv2admin/dvsmall.jpg" alt="DV2 Admin" />
        </div>
        <div class="col-10" style="margin-left:15px;">
            <div class="row">
                <p>
                    <label style="color:#c0c000;font-weight:bold;height:10px;">DV2 Admin : </label> this is a web application that enables staff within LBM to
                    manage usage of Datavision 2, their
                    online business data service.  Datavision 2 allows customers to query LBM's marketing database and build
                    datasets that are relevant to their requirements, which they can then save and download upon payment.
                    DV2 Admin allows LBM staff to manage users, their permissions, payment rates, payment methods and other
                    user information.  It also has a reporting section which includes reports on users and their
                    usage of Datavision, orders and revenue, and also allows users to view and print invoices.  DV2 Admin
                    also gives administrators access to all saved datasets and allows them to enable or disable whether or
                    not the customer can download them, based on whether payment has been made or not.
                    The main technologies used on this project were ASP.NET, C#, SQL Server and SQL Server Reporting Services.
                    <br />
                    Screenshots
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{dv2Link1}} target="_blank">1</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{dv2Link2}} target="_blank">2</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{dv2Link3}} target="_blank">3</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{dv2Link4}} target="_blank">4</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{dv2Link5}} target="_blank">5</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{dv2Link6}} target="_blank">6</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{dv2Link7}} target="_blank">7</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{dv2Link8}} target="_blank">8</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{dv2Link9}} target="_blank">9</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{dv2Link10}} target="_blank">10</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{dv2Link11}} target="_blank">11</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{dv2Link12}} target="_blank">12</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{dv2Link13}} target="_blank">13</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{dv2Link14}} target="_blank">14</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{dv2Link15}} target="_blank">15</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{dv2Link16}} target="_blank">16</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{dv2Link17}} target="_blank">17</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{dv2Link18}} target="_blank">18</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-2" style="margin-bottom:10px;margin-left:0px;min-width:170px;">
            <img src="../../assets/images/portfolio/xerox/xeroxsmall.png" alt="Xerox Lead Management Portal" />
        </div>
        <div class="col-10" style="margin-left:15px;">
            <div class="row">
                <p>
                    <label style="color:#c0c000;font-weight:bold;height:10px;">Xerox Lead Management Portal : </label> Xerox LMS provides administrators,
                    managers and users within Xerox with a CRM system with
                    which to manage their leads, diary events, contacts and all other related
                    activities. The website is used to manage and track leads through the complete
                    process, from making a new contact, to assigning a lead, to arranging an
                    appointment, to making the sale, and the system is also able to hold competitor
                    sales data which can be used to target potential future sales opportunities. A
                    number of reports can also be run against this data.
                    The main technologies used on this project were ASP.NET, C#, SQL Server, XSLT, SQL Server Reporting Services
                    and Flash.<br />
                    Screenshots
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{xeroxLink1}} target="_blank">1</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{xeroxLink2}} target="_blank">2</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{xeroxLink3}} target="_blank">3</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{xeroxLink4}} target="_blank">4</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{xeroxLink5}} target="_blank">5</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{xeroxLink6}} target="_blank">6</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{xeroxLink7}} target="_blank">7</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{xeroxLink8}} target="_blank">8</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{xeroxLink9}} target="_blank">9</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{xeroxLink10}} target="_blank">10</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{xeroxLink11}} target="_blank">11</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{xeroxLink12}} target="_blank">12</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{xeroxLink13}} target="_blank">13</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{xeroxLink14}} target="_blank">14</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{xeroxLink15}} target="_blank">15</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{xeroxLink16}} target="_blank">16</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{xeroxLink17}} target="_blank">17</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{xeroxLink18}} target="_blank">18</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-2" style="margin-bottom:10px;margin-left:0px;min-width:170px;">
            <img src="../../assets/images/portfolio/chat2/chat2small.png" alt="Chat 2" />
        </div>
        <div class="col-10" style="margin-left:15px;">
            <div class="row">
                <p>
                    <label style="color:#c0c000;font-weight:bold;height:10px;">Chat 2 : </label> Chat 2 enables SIP users to
                    make and receive telephone calls to and from the telephone network (PSTN)
                    irrespective of their geographical location. SIPCall not only offers call
                    charge free IP to IP communication but also the ability to make and receive
                    telephone calls. The Chat 2 website allows customers to open SIPCall accounts
                    online via credit card payment, secured by SSL. Existing users can also use the
                    site to securely credit their account, view their call logs and transaction
                    history, change their PIN, and view international inbound codes for calling
                    card access.
                    The main technologies used on this project were ASP.NET, C# and SQL Server.<br />
                    Screenshots
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{chat2Link1}} target="_blank">1</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{chat2Link2}} target="_blank">2</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{chat2Link3}} target="_blank">3</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{chat2Link4}} target="_blank">4</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{chat2Link5}} target="_blank">5</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{chat2Link6}} target="_blank">6</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{chat2Link7}} target="_blank">7</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{chat2Link8}} target="_blank">8</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{chat2Link9}} target="_blank">9</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{chat2Link10}} target="_blank">10</a>
                    &nbsp;<a style="color:white;text-decoration:underline;" href={{chat2Link11}} target="_blank">11</a>
                </p>
            </div>
        </div>
    </div>
</div>