<div style="margin-bottom:20px;margin-top:-20px;">
    <app-language-selector></app-language-selector>
</div><br /><br />

<div class="container">
    <div class="row">
        <h3 style="text-align: center;margin-bottom:20px;margin-top:0px;" class="mx-auto">Hall of Fame</h3>
    </div>

    <div class="row justify-content-center" style="margin-bottom:15px;">
        <div class="col-2" style="min-width:200px;margin-bottom:10px;">
            <img src="./assets/images/halloffame/colts.png" style="height:146px;width:188px;" alt="Colts" />
        </div>
        <div class="col-3" style="min-width:200px;">
            <div class="row justify-content-center">
                <div style="color:blue;font-weight:500;">2025</div>
            </div>
            <div class="row justify-content-center">
                <div>Indianapolis Colts</div>
            </div>
            <div class="row justify-content-center">
                <div>(Andrew Edwards)</div>
            </div>
            <div class="row justify-content-center">
                <div>30 - 27</div>
            </div>
            <div class="row justify-content-center">
                <div>Green Bay Packers</div>
            </div>
            <div class="row justify-content-center">
                <div>(Dave Flesfader)</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom:15px;">
        <div class="col-2" style="min-width:200px;margin-bottom:10px;">
            <img src="./assets/images/halloffame/giants.png" style="height:146px;width:188px;" alt="Giants" />
        </div>
        <div class="col-3" style="min-width:200px;">
            <div class="row justify-content-center">
                <div style="color:blue;font-weight:500;">2024</div>
            </div>
            <div class="row justify-content-center">
                <div>New York Giants</div>
            </div>
            <div class="row justify-content-center">
                <div>(Andrew Risson)</div>
            </div>
            <div class="row justify-content-center">
                <div>36 - 35</div>
            </div>
            <div class="row justify-content-center">
                <div>Kansas City Chiefs</div>
            </div>
            <div class="row justify-content-center">
                <div>(Will Smith)</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom:15px;">
        <div class="col-2" style="min-width:200px;margin-bottom:10px;">
            <img src="./assets/images/halloffame/chiefs.png" style="height:146px;width:188px;" alt="Chiefs" />
        </div>
        <div class="col-3" style="min-width:200px;">
            <div class="row justify-content-center">
                <div style="color:blue;font-weight:500;">2023</div>
            </div>
            <div class="row justify-content-center">
                <div>Kansas City Chiefs</div>
            </div>
            <div class="row justify-content-center">
                <div>(Will Smith)</div>
            </div>
            <div class="row justify-content-center">
                <div>41 - 18</div>
            </div>
            <div class="row justify-content-center">
                <div>Green Bay Packers</div>
            </div>
            <div class="row justify-content-center">
                <div>(Dave Flesfader)</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom:15px;">
        <div class="col-2" style="min-width:200px;margin-bottom:10px;">
            <img src="./assets/images/halloffame/broncos.png" style="height:146px;width:188px;" alt="Broncos" />
        </div>
        <div class="col-3" style="min-width:200px;">
            <div class="row justify-content-center">
                <div style="color:blue;font-weight:500;">2022</div>
            </div>
            <div class="row justify-content-center">
                <div>Denver Broncos</div>
            </div>
            <div class="row justify-content-center">
                <div>(Mike Thorp-Potter)</div>
            </div>
            <div class="row justify-content-center">
                <div>23 - 13</div>
            </div>
            <div class="row justify-content-center">
                <div>Green Bay Packers</div>
            </div>
            <div class="row justify-content-center">
                <div>(Dave Flesfader)</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom:15px;">
        <div class="col-2" style="min-width:200px;margin-bottom:10px;">
            <img src="./assets/images/halloffame/packers.png" style="height:146px;width:188px;" alt="Packers" />
        </div>
        <div class="col-3" style="min-width:200px;">
            <div class="row justify-content-center">
                <div style="color:blue;font-weight:500;">2021</div>
            </div>
            <div class="row justify-content-center">
                <div>Green Bay Packers</div>
            </div>
            <div class="row justify-content-center">
                <div>(Dave Flesfader)</div>
            </div>
            <div class="row justify-content-center">
                <div>24 - 18</div>
            </div>
            <div class="row justify-content-center">
                <div>Houston Texans</div>
            </div>
            <div class="row justify-content-center">
                <div>(Michael Parr)</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom:15px;">
        <div class="col-2" style="min-width:200px;margin-bottom:10px;">
            <img src="./assets/images/halloffame/colts.png" style="height:146px;width:188px;" alt="Colts" />
        </div>
        <div class="col-3" style="min-width:200px;">
            <div class="row justify-content-center">
                <div style="color:blue;font-weight:500;">2020</div>
            </div>
            <div class="row justify-content-center">
                <div>Indianapolis Colts</div>
            </div>
            <div class="row justify-content-center">
                <div>(Thomas Hennes)</div>
            </div>
            <div class="row justify-content-center">
                <div>34 - 26</div>
            </div>
            <div class="row justify-content-center">
                <div>St Louis Rams</div>
            </div>
            <div class="row justify-content-center">
                <div>(Martyn Williams)</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom:15px;">
        <div class="col-2" style="min-width:200px;margin-bottom:10px;">
            <img src="./assets/images/halloffame/rams.png" style="height:146px;width:188px;" alt="Rams" />
        </div>
        <div class="col-3" style="min-width:200px;">
            <div class="row justify-content-center">
                <div style="color:blue;font-weight:500;">2019</div>
            </div>
            <div class="row justify-content-center">
                <div>St Louis Rams</div>
            </div>
            <div class="row justify-content-center">
                <div>(Martyn Williams)</div>
            </div>
            <div class="row justify-content-center">
                <div>24 - 17</div>
            </div>
            <div class="row justify-content-center">
                <div>Miami Dolphins</div>
            </div>
            <div class="row justify-content-center">
                <div>(Chris Stones)</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom:15px;">
        <div class="col-2" style="min-width:200px;margin-bottom:10px;">
            <img src="./assets/images/halloffame/dolphins.png" style="height:146px;width:188px;" alt="Dolphins" />
        </div>
        <div class="col-3" style="min-width:200px;">
            <div class="row justify-content-center">
                <div style="color:blue;font-weight:500;">2018</div>
            </div>
            <div class="row justify-content-center">
                <div>Miami Dolphins</div>
            </div>
            <div class="row justify-content-center">
                <div>(Chris Stones)</div>
            </div>
            <div class="row justify-content-center">
                <div>27 - 21</div>
            </div>
            <div class="row justify-content-center">
                <div>St Louis Rams</div>
            </div>
            <div class="row justify-content-center">
                <div>(Martyn Williams)</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom:15px;">
        <div class="col-2" style="min-width:200px;margin-bottom:10px;">
            <img src="./assets/images/halloffame/broncos.png" style="height:146px;width:188px;" alt="Broncos" />
        </div>
        <div class="col-3" style="min-width:200px;">
            <div class="row justify-content-center">
                <div style="color:blue;font-weight:500;">2017</div>
            </div>
            <div class="row justify-content-center">
                <div>Denver Broncos</div>
            </div>
            <div class="row justify-content-center">
                <div>(Tom Richards)</div>
            </div>
            <div class="row justify-content-center">
                <div>17 - 7</div>
            </div>
            <div class="row justify-content-center">
                <div>St Louis Rams</div>
            </div>
            <div class="row justify-content-center">
                <div>(Martyn Williams)</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom:15px;">
        <div class="col-2" style="min-width:200px;margin-bottom:10px;">
            <img src="./assets/images/halloffame/rams.png" style="height:146px;width:188px;" alt="Rams" />
        </div>
        <div class="col-3" style="min-width:200px;">
            <div class="row justify-content-center">
                <div style="color:blue;font-weight:500;">2016</div>
            </div>
            <div class="row justify-content-center">
                <div>St Louis Rams</div>
            </div>
            <div class="row justify-content-center">
                <div>(Martyn Williams)</div>
            </div>
            <div class="row justify-content-center">
                <div>24 - 7</div>
            </div>
            <div class="row justify-content-center">
                <div>Cleveland Browns</div>
            </div>
            <div class="row justify-content-center">
                <div>(Mark Dawson)</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom:15px;">
        <div class="col-2" style="min-width:200px;margin-bottom:10px;">
            <img src="./assets/images/halloffame/rams.png" style="height:146px;width:188px;" alt="Rams" />
        </div>
        <div class="col-3" style="min-width:200px;">
            <div class="row justify-content-center">
                <div style="color:blue;font-weight:500;">2015</div>
            </div>
            <div class="row justify-content-center">
                <div>St Louis Rams</div>
            </div>
            <div class="row justify-content-center">
                <div>(Martyn Williams)</div>
            </div>
            <div class="row justify-content-center">
                <div>27 - 21 (OT)</div>
            </div>
            <div class="row justify-content-center">
                <div>Miami Dolphins</div>
            </div>
            <div class="row justify-content-center">
                <div>(Flesfader/Coombe)</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom:15px;">
        <div class="col-2" style="min-width:200px;margin-bottom:10px;">
            <img src="./assets/images/halloffame/49ers.png" style="height:146px;width:188px;" alt="49ers" />
        </div>
        <div class="col-3" style="min-width:200px;">
            <div class="row justify-content-center">
                <div style="color:blue;font-weight:500;">2014</div>
            </div>
            <div class="row justify-content-center">
                <div>San Francisco 49ers</div>
            </div>
            <div class="row justify-content-center">
                <div>(Conrad Whittingham)</div>
            </div>
            <div class="row justify-content-center">
                <div>42 - 28</div>
            </div>
            <div class="row justify-content-center">
                <div>Houston Texans</div>
            </div>
            <div class="row justify-content-center">
                <div>(Michael Parr)</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom:15px;">
        <div class="col-2" style="min-width:200px;margin-bottom:10px;">
            <img src="./assets/images/halloffame/texans.png" style="height:146px;width:188px;" alt="Texans" />
        </div>
        <div class="col-3" style="min-width:200px;">
            <div class="row justify-content-center">
                <div style="color:blue;font-weight:500;">2013</div>
            </div>
            <div class="row justify-content-center">
                <div>Houston Texans</div>
            </div>
            <div class="row justify-content-center">
                <div>(Michael Parr)</div>
            </div>
            <div class="row justify-content-center">
                <div>17 - 13</div>
            </div>
            <div class="row justify-content-center">
                <div>Detroit Lions</div>
            </div>
            <div class="row justify-content-center">
                <div>(Jon Gick)</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom:15px;">
        <div class="col-2" style="min-width:200px;margin-bottom:10px;">
            <img src="./assets/images/halloffame/browns.png" style="height:146px;width:188px;" alt="Browns" />
        </div>
        <div class="col-3" style="min-width:200px;">
            <div class="row justify-content-center">
                <div style="color:blue;font-weight:500;">2012</div>
            </div>
            <div class="row justify-content-center">
                <div>Cleveland Browns</div>
            </div>
            <div class="row justify-content-center">
                <div>(Mark Dawson)</div>
            </div>
            <div class="row justify-content-center">
                <div>16 - 14</div>
            </div>
            <div class="row justify-content-center">
                <div>Washington Redskins</div>
            </div>
            <div class="row justify-content-center">
                <div>(Danny Slavin)</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom:15px;">
        <div class="col-2" style="min-width:200px;margin-bottom:10px;">
            <img src="./assets/images/halloffame/colts.png" style="height:146px;width:188px;" alt="Colts" />
        </div>
        <div class="col-3" style="min-width:200px;">
            <div class="row justify-content-center">
                <div style="color:blue;font-weight:500;">2011</div>
            </div>
            <div class="row justify-content-center">
                <div>Indianapolis Colts</div>
            </div>
            <div class="row justify-content-center">
                <div>(Norman Goetz)</div>
            </div>
            <div class="row justify-content-center">
                <div>27 - 21</div>
            </div>
            <div class="row justify-content-center">
                <div>St Louis Rams</div>
            </div>
            <div class="row justify-content-center">
                <div>(Martyn Williams)</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom:15px;">
        <div class="col-2" style="min-width:200px;margin-bottom:10px;">
            <img src="./assets/images/halloffame/chargers.png" style="height:146px;width:188px;" alt="Chargers" />
        </div>
        <div class="col-3" style="min-width:200px;">
            <div class="row justify-content-center">
                <div style="color:blue;font-weight:500;">2010</div>
            </div>
            <div class="row justify-content-center">
                <div>San Diego Chargers</div>
            </div>
            <div class="row justify-content-center">
                <div>(Paul Gorner)</div>
            </div>
            <div class="row justify-content-center">
                <div>28 - 14</div>
            </div>
            <div class="row justify-content-center">
                <div>Washington Redskins</div>
            </div>
            <div class="row justify-content-center">
                <div>(Troy Dilworth)</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom:15px;">
        <div class="col-2" style="min-width:200px;margin-bottom:10px;">
            <img src="./assets/images/halloffame/chargers.png" style="height:146px;width:188px;" alt="Chargers" />
        </div>
        <div class="col-3" style="min-width:200px;">
            <div class="row justify-content-center">
                <div style="color:blue;font-weight:500;">2009</div>
            </div>
            <div class="row justify-content-center">
                <div>San Diego Chargers</div>
            </div>
            <div class="row justify-content-center">
                <div>(Paul Gorner)</div>
            </div>
            <div class="row justify-content-center">
                <div>37 - 10</div>
            </div>
            <div class="row justify-content-center">
                <div>Chicago Bears</div>
            </div>
            <div class="row justify-content-center">
                <div>(Andrew Gambrill)</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom:15px;">
        <div class="col-2" style="min-width:200px;margin-bottom:10px;">
            <img src="./assets/images/halloffame/oilers.png" style="height:146px;width:188px;" alt="Oilers" />
        </div>
        <div class="col-3" style="min-width:200px;">
            <div class="row justify-content-center">
                <div style="color:blue;font-weight:500;">1994</div>
            </div>
            <div class="row justify-content-center">
                <div>Houston Oilers</div>
            </div>
            <div class="row justify-content-center">
                <div>(Michael Parr)</div>
            </div>
            <div class="row justify-content-center">
                <div>52 - 24</div>
            </div>
            <div class="row justify-content-center">
                <div>Atlanta Falcons</div>
            </div>
            <div class="row justify-content-center">
                <div>(Paul Fitzpatrick)</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom:15px;">
        <div class="col-2" style="min-width:200px;margin-bottom:10px;">
            <img src="./assets/images/halloffame/bears.png" style="height:146px;width:188px;" alt="Bears" />
        </div>
        <div class="col-3" style="min-width:200px;">
            <div class="row justify-content-center">
                <div style="color:blue;font-weight:500;">1993</div>
            </div>
            <div class="row justify-content-center">
                <div>Chicago Bears</div>
            </div>
            <div class="row justify-content-center">
                <div>(Rick Cross)</div>
            </div>
            <div class="row justify-content-center">
                <div>23 - 14</div>
            </div>
            <div class="row justify-content-center">
                <div>Houston Oilers</div>
            </div>
            <div class="row justify-content-center">
                <div>(Michael Parr)</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom:15px;">
        <div class="col-2" style="min-width:200px;margin-bottom:10px;">
            <img src="./assets/images/halloffame/49ers.png" style="height:146px;width:188px;" alt="49ers" />
        </div>
        <div class="col-3" style="min-width:200px;">
            <div class="row justify-content-center">
                <div style="color:blue;font-weight:500;">1992</div>
            </div>
            <div class="row justify-content-center">
                <div>San Francisco 49ers</div>
            </div>
            <div class="row justify-content-center">
                <div>(Dave Thorpe)</div>
            </div>
            <div class="row justify-content-center">
                <div>31 - 21</div>
            </div>
            <div class="row justify-content-center">
                <div>Seattle Seahawks</div>
            </div>
            <div class="row justify-content-center">
                <div>(Garry Swain)</div>
            </div>
        </div>
    </div>
</div>
