<div style="margin-bottom:20px;margin-top:-20px;">
    <app-language-selector></app-language-selector>
</div><br /><br />

<mat-tab-group class="demo-tab-group">
    <mat-tab label="East">
        <div class="demo-tab-content">
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/nyjets.png" alt="New York Jets" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">New York Jets</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (13-3)</div>
            </div><br />
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/indianapolis.png" alt="Indianapolis" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">Indianapolis Colts</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (11-5)</div>
            </div><br />
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/newengland.png" alt="New England" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">New England Patriots</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (8-8)</div>
            </div><br />
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/miami.png" alt="Miami" class="center-block" />
                </div>
            </div>
            <div class="mx-auto">
                <div style="text-align: center;">Miami Dolphins</div>
            </div>
            <div class="mx-auto">
                <div style="text-align: center;">{{ 'PREDICTIONS.PREDICTION' | translate }} (7-9)</div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Central">
        <div class="demo-tab-content">
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/houston.png" alt="Houston" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">Houston Texans</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (12-4)</div>
            </div><br />
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/cleveland.png" alt="Cleveland" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">Cleveland Browns</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (9-7)</div>
            </div><br />
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/pittsburgh.png" alt="Pittsburgh" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">Pittsburgh Steelers</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (7-9)</div>
            </div><br />
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/cincinnati.png" alt="Cincinnati" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">Cincinnati Bengals</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (6-10)</div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="West">
        <div class="demo-tab-content">
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/kansascity.png" alt="Kansas City" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">Kansas City Chiefs</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (11-5)</div>
            </div><br />
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/oakland.png" alt="Oakland" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">Oakland Raiders</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (10-6)</div>
            </div><br />
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/sandiego.png" alt="San Diego" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">San Diego Chargers</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (9-7)</div>
            </div><br />
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/denver.png" alt="Denver" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">Denver Broncos</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (6-10)</div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Playoffs">
        <div class="demo-tab-content">
            <div class="row">
                <div class="mx-auto">Wild Card {{ 'PREDICTIONS.ROUND' | translate }} :</div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/indianapolis.png" alt="Indianapolis" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.WILL_DEFEAT' | translate }}</div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/oakland.png" alt="Oakland" class="center-block" />
                </div>
            </div><br />
            <div class="row">
                <div class="mx-auto">Divisional {{ 'PREDICTIONS.ROUND' | translate }} :</div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/houston.png" alt="Houston" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.WILL_DEFEAT' | translate }}</div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/indianapolis.png" alt="Indianapolis" class="center-block" />
                </div>
            </div><br />
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/nyjets.png" alt="New York Jets" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.WILL_DEFEAT' | translate }}</div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/kansascity.png" alt="Kansas City" class="center-block" />
                </div>
            </div><br />
            <div class="row">
                <div class="mx-auto">Championship {{ 'PREDICTIONS.ROUND' | translate }} :</div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/nyjets.png" alt="New York Jets" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.WILL_DEFEAT' | translate }}</div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/houston.png" alt="Houston" class="center-block" />
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group><br />

<div>
    <h3 style="margin-bottom:20px;margin-top:0px;">NFC</h3>
</div>

<mat-tab-group class="demo-tab-group">
    <mat-tab label="East">
        <div class="demo-tab-content">
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/washington.png" alt="Washington" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">Washington Redskins</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (12-4)</div>
            </div><br />
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/nygiants.png" alt="New York Giants" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">New York Giants</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (11-5)</div>
            </div><br />
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/philadelphia.png" alt="Philadelphia" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">Philadelphia Eagles</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (9-7)</div>
            </div><br />
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/arizona.png" alt="Arizona" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">Arizona Cardinals</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (2-14)</div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Central">
        <div class="demo-tab-content">
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/greenbay.png" alt="Green Bay" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">Green Bay Packers</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (13-3)</div>
            </div><br />
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/minnesota.png" alt="Minnesota" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">Minnesota Vikings</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (10-6)</div>
            </div><br />
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/tampabay.png" alt="Tampa Bay" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">Tampa Bay Buccaneers</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (8-8)</div>
            </div><br />
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/detroit.png" alt="Detroit" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">Detroit Lions</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (6-10)</div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="West">
        <div class="demo-tab-content">
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/carolina.png" alt="Carolina" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">Carolina Panthers</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (11-5)</div>
            </div><br />
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/sanfrancisco.png" alt="San Francisco" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">San Francisco 49ers</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (8-8)</div>
            </div><br />
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/neworleans.png" alt="New Orleans" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">New Orleans Saints</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (5-11)</div>
            </div><br />
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/atlanta.png" alt="Atlanta" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">Atlanta Falcons</div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.PREDICTION' | translate }} (5-11)</div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Playoffs">
        <div class="demo-tab-content">
            <div class="row">
                <div class="mx-auto">Wild Card {{ 'PREDICTIONS.ROUND' | translate }} :</div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/nygiants.png" alt="New York Giants" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.WILL_DEFEAT' | translate }}</div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/minnesota.png" alt="Minnesota" class="center-block" />
                </div>
            </div><br />
            <div class="row">
                <div class="mx-auto">Divisional {{ 'PREDICTIONS.ROUND' | translate }} :</div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/greenbay.png" alt="Green Bay" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.WILL_DEFEAT' | translate }}</div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/nygiants.png" alt="New York Giants" class="center-block" />
                </div>
            </div><br />
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/washington.png" alt="Washington" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.WILL_DEFEAT' | translate }}</div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/carolina.png" alt="Carolina" class="center-block" />
                </div>
            </div><br />
            <div class="row">
                <div class="mx-auto">Championship {{ 'PREDICTIONS.ROUND' | translate }} :</div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/greenbay.png" alt="Green Bay" class="center-block" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">{{ 'PREDICTIONS.WILL_DEFEAT' | translate }}</div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <img src="./assets/images/logos/washington.png" alt="Washington" class="center-block" />
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group><br />