//typography
$fontName: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
$fontNameLight: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
$fontNameBold: "Segoe UI Bold", "Open Sans Bold", sans-serif, serif;

//colours
$appBar: #ffffff;
