@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 300;
  src: local("Segoe UI Light"), local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Segoe UI"), local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }

@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Segoe UI Bold"), local("Open Sans Bold"), local("OpenSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format("woff"); }

body {
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif; }

h1, h2, h3, h4 {
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-size: 14px;
  background-color: #6a00ff;
  color: white; }

.languageselector {
  font-size: 14px; }

.navbar {
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  font-style: normal; }

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 15px;
  line-height: 20px; }

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff; }

.navbar-inverse .navbar-brand {
  color: #ffffff; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #0072C6; }

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #0072C6; }

.dropdown-menu {
  background-color: #337ab7; }

.dropdown-menu .divider {
  height: 1px;
  margin: 0px 0;
  overflow: hidden;
  background-color: #e5e5e5; }

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: white;
  background-color: #337ab7;
  white-space: nowrap;
  font-size: 14px; }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* Tablet landscape*/
@media (max-width: 768px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #e5e5e5; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
    font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
    font-size: 14px; } }

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
  border-top: 0;
  background-color: lightgrey;
  color: black;
  font-weight: normal;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif; }

td {
  font-size: 14px; }

.row {
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-size: 14px; }

a.gridlinks {
  text-decoration: none; }

a.gridlinks:hover {
  text-decoration: none; }

.panel-primary > .panel-heading {
  padding: 4px 4px 4px 4px;
  color: white;
  width: 300px;
  background-color: #3f51b5;
  background-image: none;
  font-size: 14px; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  font-size: 14px; }

label {
  display: inline-block;
  margin-bottom: .5rem;
  font-size: 14px; }

/*.e-grid .e-headercell, .e-grid .e-grouptopleftcell {
    font-weight: bold;
    text-align: center;
}*/
.turnoverdifferentiallist tbody tr td:nth-child(4),
.turnoverdifferentiallist tbody tr td:nth-child(7) {
  background-color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-size: 14px;
  color: black !important; }

.turnoverdifferentiallist tbody tr td:nth-child(1),
.turnoverdifferentiallist tbody tr td:nth-child(2),
.turnoverdifferentiallist tbody tr td:nth-child(3),
.turnoverdifferentiallist tbody tr td:nth-child(5),
.turnoverdifferentiallist tbody tr td:nth-child(6) {
  background-color: darkgray;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-size: 14px;
  color: white; }

.turnoverdifferentiallist tbody tr td:nth-child(8) {
  background-color: wheat;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-size: 14px;
  color: black !important;
  font-weight: bold !important; }

.powerrankinglist tbody tr > td {
  background-color: white;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.powerrankinglist thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

/*.afcstandings tbody tr > td {
    background-color: red !important;
    color: white;
    font-family: $fontName;
    font-weight: normal;
    font-size: 14px;
}*/
.fixturelist tbody tr > td {
  background-color: darkslategray;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.fixturelist thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2026 tbody tr > td {
  background-color: #418fde;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2026 thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2025 tbody tr > td {
  background-color: #00573f;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2025 thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2024 tbody tr > td {
  background-color: #fb4f14;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2024 thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2023 tbody tr > td {
  background-color: #fb4f14;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2023 thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2022 tbody tr > td {
  background-color: #fb4f14;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2022 thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2021 tbody tr > td {
  background-color: black;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2021 thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2020 tbody tr > td {
  background-color: #c9af74;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2020 thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2019 tbody tr > td {
  background-color: #c9af74;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2019 thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2018 tbody tr > td {
  background-color: #24423c;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2018 thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2017 tbody tr > td {
  background-color: #c9af74;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2017 thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2016 tbody tr > td {
  background-color: #9b2743;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2016 thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2015 tbody tr > td {
  background-color: #008d97;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2015 thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2014 tbody tr > td {
  background-color: #006db0;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2014 thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2013 tbody tr > td {
  background-color: #9b2743;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2013 thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2012 tbody tr > td {
  background-color: #0072ce;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2012 thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2011 tbody tr > td {
  background-color: #773141;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2011 thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2010 tbody tr > td {
  background-color: #0072ce;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2010 thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2009 tbody tr > td {
  background-color: #00338d;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings2009 thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings1994 tbody tr > td {
  background-color: #582c81;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings1994 thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings1993 tbody tr > td {
  background-color: #87909b;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings1993 thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings1992 tbody tr > td {
  background-color: #69be28;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.qbratings1992 thead tr > th {
  background-color: lightgray;
  color: black;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.afctab div {
  background-color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  color: black;
  font-weight: normal;
  font-size: 14px; }

.afctab a {
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  color: black; }

.nfctab div {
  background-color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  color: black;
  font-weight: normal;
  font-size: 14px; }

.nfctab a {
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  color: black; }

.coachlist tbody tr > td {
  background-color: #6a00ff;
  color: white; }

.divisionlist tbody tr > td {
  background-color: darkcyan;
  color: white; }

.teamlist tbody tr > td {
  background-color: darkslategray;
  color: white; }

.qbratinglist tbody tr > td {
  background-color: indigo;
  color: white; }

.weeklist tbody tr > td {
  background-color: red;
  color: white; }

.seasonlist tbody tr > td {
  background-color: tan;
  color: white; }

.tournamentlist tbody tr > td {
  background-color: darkorange;
  color: white; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 1200px) {
  .container {
    width: 1200px; } }

.short-text {
  display: none; }

@media (max-width: 700px) {
  .short-text {
    display: inline-block; }
  .full-text {
    display: none; } }

.panel-primary > .panel-heading {
  color: white;
  width: 300px;
  background-color: #3f51b5;
  background-image: none; }

/** angular material */
.mat-tab-label, .mat-tab-link, .mat-tab-group, .mat-form-field, .mat-error, .mat-raised-button, .mat-select, .mat-option, .mat-calendar, .mat-button, .mat-checkbox, .mat-checkbox-label, .mat-tooltip {
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif; }

.mat-card-content, .mat-card-header .mat-card-title, .mat-card-subtitle {
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif; }

.matcardtitle {
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  text-align: center; }

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 3px rgba(0, 0, 0, 0.12); }

.mat-checkbox-layout .mat-checkbox-label {
  font-weight: normal; }

.snack-bar-warning {
  background-color: #9e1716; }

.snack-bar-success {
  background-color: #128425; }

.snack-bar-info {
  background-color: black; }

.mat-simple-snackbar {
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif; }

.mat-form-field {
  min-width: 300px; }

.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 180px;
  font-size: 14px;
  line-height: 20px; }

.mat-form-field-placeholder {
  height: 24px; }

.mat-input-element {
  height: 24px; }

.mat-select {
  height: 24px; }

.mat-select-value {
  height: 24px; }

.mat-checkbox-layout .mat-checkbox-label {
  font-weight: normal;
  font-size: 14px; }

.mat-error {
  height: 24px; }

/** tabs */
.demo-tab-group {
  border: 1px solid #e8e8e8; }

.demo-tab-content {
  padding: 16px; }

/** https://github.com/angular/material2/issues/4035 */
.mat-tab-body-content {
  height: unset !important; }

.mat-button-wrapper {
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif; }

/** syncfusion grid */
.e-grid .e-rowcell {
  border-style: solid;
  border-width: 1px 0 0 0;
  display: table-cell;
  color: white;
  background-color: darkslategray;
  font-size: 14px;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  line-height: 20px;
  overflow: hidden;
  padding: 8px 21px;
  vertical-align: middle;
  white-space: nowrap;
  width: auto; }

.e-grid .e-gridheader .e-sortfilter .e-headercelldiv, .e-grid .e-gridheader .e-stackedheadercelldiv, .e-grid .e-gridheader .e-headercell .e-headercelldiv.e-headerchkcelldiv {
  padding: 0 8px 0 5px; }

.superbowloddlist td.e-rowcell {
  background-color: #33004D; }

.afcstandings td.e-rowcell {
  background-color: #4D0000;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.nfcstandings td.e-rowcell {
  background-color: #000066;
  color: white;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-weight: normal;
  font-size: 14px; }

.e-grid .e-rowcell:not(.e-editedbatchcell), .e-grid .e-detailrowcollapse:not(.e-editedbatchcell), .e-grid .e-detailrowexpand:not(.e-editedbatchcell), .e-grid .e-gridcontent .e-rowdragdrop:not(.e-editedbatchcell), .e-grid .e-emptyrow:not(.e-editedbatchcell) {
  color: #fff;
  opacity: 1.00; }

.e-grid td.e-active, .e-grid .e-form-titlebar {
  background: #74c3e7;
  background: -moz-linear-gradient(top, #74c3e7, #179bd7);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #74c3e7), color-stop(100%, #179bd7));
  background: -webkit-linear-gradient(top, #74c3e7, #179bd7);
  background: -o-linear-gradient(top, #74c3e7, #179bd7);
  background: -ms-linear-gradient(top, #74c3e7, #179bd7);
  background: linear-gradient(to bottom, #74c3e7, #179bd7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74c3e7',endColorstr='#179bd7',GradientType=0); }

.e-grid .e-headercelldiv {
  border: 0 none;
  display: block;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-size: 14px;
  font-weight: bold;
  height: 29px;
  line-height: 30px;
  margin: -7px;
  overflow: hidden;
  padding: 0 0.6em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.e-pager {
  background-color: #fff;
  border-color: #e0e0e0;
  color: #000;
  opacity: 0.87;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif; }

.e-toolbar .e-tbar-btn .e-tbar-btn-text {
  display: inline-block;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-size: 14px;
  font-weight: bold;
  line-height: inherit;
  vertical-align: middle;
  width: auto; }

.e-input-group input.e-input, .e-input-group.e-control-wrapper input.e-input, .e-input-group textarea.e-input, .e-input-group.e-control-wrapper textarea.e-input {
  font-size: 14px;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif; }

.e-grid .e-stackedheadercelldiv {
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Segoe UI Light", "Open Sans Light", sans-serif, serif;
  font-size: 14px; }

.btn {
  font-size: 14px; }

.sb-wrapper {
  font-size: inherit;
  cursor: pointer;
  min-width: 40px !important;
  position: relative;
  outline: 0;
  height: 2.5em;
  border: none;
  border-radius: 1px;
  padding: 0;
  line-height: 2.571em;
  background-color: transparent; }

.sb-wrapper .sb-icon {
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  padding-bottom: 6px;
  min-width: 2em; }

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

.ticker-wrap {
  overflow: hidden;
  background-color: gray;
  padding-left: 100%; }

.ticker {
  display: inline-block;
  height: 4rem;
  background-color: gray;
  line-height: 2rem;
  height: 34px;
  font-size: 14px;
  white-space: nowrap;
  padding-right: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 50s;
  animation-duration: 50s; }
  .ticker__item {
    display: inline-block;
    padding: 0 2rem;
    color: white; }
