<div style="float:right;padding-bottom:20px;">
    <share-button [theme]="'modern-dark'"
                  [button]="'facebook'"
                  [url]="'https://twitter.com/'"
                  [autoSetMeta]="false"></share-button>
    <share-button [theme]="'modern-dark'"
                  [button]="'twitter'"
                  [url]="'https://twitter.com/'"
                  [autoSetMeta]="false"></share-button>
    <share-button [theme]="'modern-dark'"
                  [button]="'messenger'"
                  [url]="'https://twitter.com/'"
                  [autoSetMeta]="false"></share-button>
    <share-button [theme]="'modern-dark'"
                  [button]="'whatsapp'"
                  [url]="'https://twitter.com/'"
                  [autoSetMeta]="false"></share-button>
    <share-button [theme]="'modern-dark'"
                  [button]="'email'"
                  [url]="'https://twitter.com/'"
                  [autoSetMeta]="false"></share-button>
    <share-button [theme]="'modern-dark'"
                  [button]="'sms'"
                  [url]="'https://twitter.com/'"
                  [autoSetMeta]="false"></share-button>
</div>